.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

svg {
    width: 20px;
    top: 5px 0 0 0;
    padding-top: 5px;
}

.cart-products.col-sm-9.p-3 {
    border: 0 !important;
    flex: 1 1 auto;
    min-height: 1px;
}
.cart-product.row.no-gutters.py-2 {
    vertical-align: middle;
}

button.btn.btn-danger.btn-sm.mr-2.mb-1 {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

button.btn.btn-primary.btn-sm.mb-1 {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.product-image img {
    margin: 0px auto;
    max-height: 75px;
}

.cart-product-vert-align {
    margin: 10px 0 0 0;
}

.checkout-items-spacing {
    padding: 20px 0 0 0;
}

a.logout {
    float: right;
    padding: 5px 50px;
    color: #545b62;
}

nav.MuiPagination-root.MuiPagination-text.css-1oj2twp-MuiPagination-root {
    margin: 30px;
}

.product.card.card-body {
    width: 400px;
    margin: 10px 10px;
}

span.envelope-icon {
    padding: 10px;
    color: blue;
}

.checkout-successfull-message {
    margin-top: 100px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #3c3c3c;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
